# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
*.jar
*.pom
*.md5
*.sha1
*.log
*.xml

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
local.properties
